<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
    </nav>
    <div class="banner">
        <h1>{% block header %} Welcome to My Website {% endblock %}</h1>
    </div>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>