{% extends "base.html" %} {% block title %}Edit {% endblock %} {% block header
%}Edit a procedure{% endblock %} {% block content %}
<h1>Add a new Procedure</h1>
<div>
    <div class="procedure_top">
        <label for="procedure_name">Procedure Name:</label>
        <button type="submit" onclick="submitProcedure()">Submit</button>
    </div>
    <div class="entry_div">
        <input type="text" id="procedure_name">
    </div>
</div>

<hr>
</hr>
<label id="item_label" for="item">Item subject to repair</label>
<div class="entry_div">
    <input type="text" id="item">
    <select id="ancestor_dropdown"> </select>
    <button id="ancestor_button" onclick="getPossibleAncestors()" >Get Possible Ancestors</button>
</div>

<hr>
</hr>
<label id="part_label" for="part">Part used for repair</label>

<div class="entry_div">
    <input type="text" id="part">
</div>

<hr>
</hr>
<div class="entry_div">
    <ul id="tools_list"></ul>
</div>
<div class="tool_buttons">
    <button class="new_entries tool_button" type="button" onclick="addTool()">Add Tool</button>
    <button class="new_entries tool_button" type="button" onclick="setTools()">Set Tools</button>
</div>
<hr>
</hr>
<div class="entry_div">
    <ul id="steps_list"></ul>
</div>
<button class="new_entries" id="newStepButton" type="button" onclick="addStep()" style="display: none;">Add
    Step</button>


{% endblock %} {% block scripts %}
<script src="static/create.js"></script>
{% endblock %}