{% extends "base.html" %} {% block title %}Add Procedure {% endblock %} {% block header
%}Add a new procedure{% endblock %} {% block content %}

<hr>
</hr>
<div>
    <div class="procedure_top">
        <label id = "item_label" for="procedure_name">Procedure Name:</label>
    </div>
    <div class="entry_div">
        <input type="text" id="procedure_name" placeholder="Provide a procedure name that describes the process of the procedure">
    </div>
</div>

<hr>
</hr>
<label id="item_label" for="item">Item subject to repair</label>
<div class="entry_div">
    <input type="text" id="item" placeholder="Provide the name of item being repaired. Terms in item name will be used to recommend an ancestor for the item.">
    <select id="ancestor_dropdown"> </select>
    <button id="ancestor_button" onclick="getPossibleAncestors()" >Search Ancestors</button>
</div>

<hr>
</hr>
<label id="part_label" for="part">Part used for repair</label>
<div class="entry_div">
    <input type="text" id="part" placeholder="Provide the name of the part which is being repaired" value="{{ part }}">
</div>

<hr>
</hr>
<div class="entry_div">
    <ul id="tools_list"></ul>
</div>
<div class="tool_buttons">
    <button class="new_entries tool_button" type="button" onclick="addTool()">Add Tool</button>
    <button class="new_entries tool_button" type="button" onclick="setTools()">Set Tools</button>
</div>
<hr>
</hr>
<div class="entry_div">
    <ul id="steps_list"></ul>
</div>
<button class="new_entries" id="newStepButton" type="button" onclick="addStep()" style="display: none;">Add
    Step</button>
    <button type="submit" id="submitbutton" onclick="submitProcedure()">Submit</button>


{% endblock %} 
{% block scripts %}
<script src="static/create.js"></script>
{% endblock %}