{% extends "base.html" %} {% block title %}Search{% endblock %} {% block header
%}Search the iFixit database{% endblock %} {% block content %}
<section id="browse">
  <h2 style="text-align: center;">Available search functions</h2>
  <select
    class="search_function_selector"
    id="searchFunction"
    name="searchFunction"
  >
    {% for search_function in search_functions %}
    <option value="{{ search_function }}">{{ search_function }}</option>
    {% endfor %}
  </select>

  <input type="text" id="searchInput" placeholder="Enter your search here" />
</section>
<section id="results">
  <h2>Search Results</h2>
  <ul id="results_list"></ul>
</section>
{% endblock %} {% block scripts %}
<script src="static/key_searches.js"></script>
{% endblock %}
