{% extends "base.html" %} {% block title %}Search by keyword{% endblock %} {% block header
%}Search the iFixit knowledge graph by keyword{% endblock %} {% block content %}
<section id="browse">
  <h3>Choose from the list of search functions</h3>
  <select
    class="search_function_selector"
    id="searchFunction"
    name="searchFunction"
  >
    {% for search_function in search_functions %}
    <option value="{{ search_function }}">{{ search_function }}</option>
    {% endfor %}
  </select>

  <input type="text" id="searchInput" placeholder="Search by keyword or substring" />
  <button id="searchButton" onclick="performSearch()">Search</button>
</section>
<section id="results">
  <h2>Search Results</h2>
  <ul id="results_list"></ul>
</section>
{% endblock %} {% block scripts %}
<script src="static/key_searches.js"></script>
{% endblock %}
