{% extends "base.html" %} {% block title %}Queries{% endblock %} {% block
header %}Query the iFixit knowledge graph{% endblock %} {% block content %}
<div class="content">
  <section id="search">
    <div class="new_search_description">
      To implement a new SPARQL query, use the prefix <b><i>ns</i></b> as the
      namespace
    </div>
    <div class="newQuerySection">
      <input
        class="queryNameInput"
        type="text"
        id="newQueryName"
        placeholder="Enter new SPARQL query name"
      />
      <input
        class="queryNameValue"
        type="text"
        id="newQueryValue"
        placeholder="Enter new SPARQL query"
      />
      
      <button class="newQueryButton" onclick="createNewQuery()">
        Add New Query
      </button>
    </div>
    <br>
    <h3>Select a button below to run existing SPARQL queries</h3>
    <br>
    <div class="button-list">
      {% for search in searches %}
      <button onclick="runQuery('{{ search }}')">{{ search }}</button>
      {% endfor %}
    </div>

    <section id="results">
      <h2 class="results_header">Search Results</h2>
      <ul id="results_list"></ul>
    </section>
  </section>
</div>

{% endblock %} {% block scripts %}
<script src="static/queries.js"></script>
{% endblock %}
